# Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.regularizers import L2
from tensorflow.keras.losses import BinaryCrossentropy
from keras.callbacks import Callback

2023-07-21 13:08:15.323156: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

# Load data

In [2]:
df = pd.read_csv("../data/train.csv")

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df.shape

(8693, 14)

In [5]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

# Cleanup and transform the data

In [6]:
def transform_data(df, test_data=False):
    df.drop('Name', axis=1, inplace=True)
    if(test_data == False):
        df.dropna(subset=['Transported'], inplace=True)
    df['RoomService'].fillna(df['RoomService'].median(), inplace=True)
    df['FoodCourt'].fillna(df['FoodCourt'].median(), inplace=True)
    df['ShoppingMall'].fillna(df['ShoppingMall'].median(), inplace=True)
    df['Spa'].fillna(df['Spa'].median(), inplace=True)
    df['VRDeck'].fillna(df['VRDeck'].median(), inplace=True)
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    one_hot_home = pd.get_dummies(df['HomePlanet'], prefix='HomePlanet_').astype(int)
    df.drop('HomePlanet', axis=1, inplace=True)
    df = df.join(one_hot_home)
    one_hot_dest = pd.get_dummies(df['Destination'], prefix='Destination_').astype(int)
    df.drop('Destination', axis=1, inplace=True)
    df = df.join(one_hot_dest)
    df[['Deck', 'Num', 'Side']] = df['Cabin'].str.split('/', expand=True)
    df.drop('Cabin', axis=1, inplace=True)
    df['Num'] = pd.to_numeric(df['Num'], errors='coerce')
    df['Num'].fillna(-1, inplace=True)
    one_hot_deck = pd.get_dummies(df['Deck'], prefix='Deck').astype(int)
    df.drop('Deck', axis=1, inplace=True)
    df = df.join(one_hot_deck)
    one_hot_side = pd.get_dummies(df['Side'], prefix='Side_').astype(int)
    df.drop('Side', axis=1, inplace=True)
    df = df.join(one_hot_side)
    one_hot_vip = pd.get_dummies(df['VIP'], prefix='VIP_').astype(int)
    df.drop('VIP', axis=1, inplace=True)
    df = df.join(one_hot_vip)
    one_hot_sleep = pd.get_dummies(df['CryoSleep'], prefix='CryoSleep_').astype(int)
    df.drop('CryoSleep', axis=1, inplace=True)
    df = df.join(one_hot_sleep)
    if(test_data == False):
        df['Transported'] = pd.to_numeric(df['Transported'], errors='coerce')
        col_transported = df['Transported'].astype(int)
        df.drop(columns='Transported', inplace=True)
        df.insert(0, 'Transported', col_transported)
    # Polynomials
    df['RoomService^2'] = pow(df['RoomService'], 2)
    df['RoomService^3'] = pow(df['RoomService'], 3)
    #df['RoomService^4'] = pow(df['RoomService'], 4)
    #df['RoomService^5'] = pow(df['RoomService'], 5)
    df['FoodCourt^2'] = pow(df['FoodCourt'], 2)
    df['FoodCourt^3'] = pow(df['FoodCourt'], 3)
    #df['FoodCourt^4'] = pow(df['FoodCourt'], 4)
    #df['FoodCourt^5'] = pow(df['FoodCourt'], 5)
    df['ShoppingMall^2'] = pow(df['ShoppingMall'], 2)
    df['ShoppingMall^3'] = pow(df['ShoppingMall'], 3)
    #df['ShoppingMall^4'] = pow(df['ShoppingMall'], 4)
    #df['ShoppingMall^5'] = pow(df['ShoppingMall'], 5)
    df['Spa^2'] = pow(df['Spa'], 2)
    df['Spa^3'] = pow(df['Spa'], 3)
    #df['Spa^4'] = pow(df['Spa'], 4)
    #df['Spa^5'] = pow(df['Spa'], 5)
    df['VRDeck^2'] = pow(df['VRDeck'], 2)
    df['VRDeck^3'] = pow(df['VRDeck'], 3)
    #df['VRDeck^4'] = pow(df['VRDeck'], 4)
    #df['VRDeck^5'] = pow(df['VRDeck'], 5)
    # Sum
    df['sum-1'] = df['VRDeck'] + df['Spa']
    df['sum-2'] = df['VRDeck'] + df['ShoppingMall']
    df['sum-3'] = df['VRDeck'] + df['FoodCourt']
    df['sum-4'] = df['VRDeck'] + df['RoomService']
    df['sum-5'] = df['Spa'] + df['ShoppingMall']
    df['sum-6'] = df['Spa'] + df['FoodCourt']
    df['sum-7'] = df['Spa'] + df['RoomService']
    df['sum-8'] = df['ShoppingMall'] + df['FoodCourt']
    df['sum-9'] = df['ShoppingMall'] + df['RoomService']
    df['sum-10'] = df['FoodCourt'] + df['RoomService']
    df['sum-11'] = df['VRDeck'] + df['Spa'] + df['ShoppingMall'] + df['FoodCourt'] + df['RoomService']
    return df

In [7]:
df = transform_data(df)

In [8]:
df.shape

(8693, 50)

In [9]:
df.head()

,Transported,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet__Earth,HomePlanet__Europa,...,sum-2,sum-3,sum-4,sum-5,sum-6,sum-7,sum-8,sum-9,sum-10,sum-11
0,0,0001_01,39.0,0.0,0.0,0.0,0.0,0.0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0002_01,24.0,109.0,9.0,25.0,549.0,44.0,1,0,...,69.0,53.0,153.0,574.0,558.0,658.0,34.0,134.0,118.0,736.0
2,0,0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,0,1,...,49.0,3625.0,92.0,6715.0,10291.0,6758.0,3576.0,43.0,3619.0,10383.0
3,0,0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,0,1,...,564.0,1476.0,193.0,3700.0,4612.0,3329.0,1654.0,371.0,1283.0,5176.0
4,1,0004_01,16.0,303.0,70.0,151.0,565.0,2.0,1,0,...,153.0,72.0,305.0,716.0,635.0,868.0,221.0,454.0,373.0,1091.0

In [10]:
df.dtypes

Transported                     int64
PassengerId                    object
Age                           float64
RoomService                   float64
FoodCourt                     float64
ShoppingMall                  float64
Spa                           float64
VRDeck                        float64
HomePlanet__Earth               int64
HomePlanet__Europa              int64
HomePlanet__Mars                int64
Destination__55 Cancri e        int64
Destination__PSO J318.5-22      int64
Destination__TRAPPIST-1e        int64
Num                           float64
Deck_A                          int64
Deck_B                          int64
Deck_C                          int64
Deck_D                          int64
Deck_E                          int64
Deck_F                          int64
Deck_G                          int64
Deck_T                          int64
Side__P                         int64
Side__S                         int64
VIP__False                      int64
VIP__True                       int64
CryoSleep__False                int64
CryoSleep__True                 int64
RoomService^2                 float64
RoomService^3                 float64
FoodCourt^2                   float64
FoodCourt^3                   float64
ShoppingMall^2                float64
ShoppingMall^3                float64
Spa^2                         float64
Spa^3                         float64
VRDeck^2                      float64
VRDeck^3                      float64
sum-1                         float64
sum-2                         float64
sum-3                         float64
sum-4                         float64
sum-5                         float64
sum-6                         float64
sum-7                         float64
sum-8                         float64
sum-9                         float64
sum-10                        float64
sum-11                        float64
dtype: object

# Split data into Training and Cross Validation sets

In [11]:
# Shuffle data & create a DF without the id
df.sample(frac=1).reset_index(drop=True)

# Create new dataframe without passenger id
df_no_passenger_id = df.drop('PassengerId', axis=1)

In [12]:
def normalize_data(df):
    # split dataframe into float and non-float columns
    df_float = df.select_dtypes(include=['float64'])
    df_int = df.select_dtypes(exclude=['float64'])

    # convert float dataframe to numpy array
    float_array = df_float.to_numpy()

    # normalize the float numpy array
    normalizer = tf.keras.layers.Normalization(axis=-1)
    normalizer.adapt(float_array)
    normalized_array = normalizer(float_array)

    # convert normalized numpy array back to dataframe
    df_normalized = pd.DataFrame(normalized_array, index=df_float.index, columns=df_float.columns)

    # concatenate normalized dataframe back with int dataframe
    df_new = pd.concat([df_int, df_normalized], axis=1)
    return df_new

In [13]:
df_new = normalize_data(df_no_passenger_id)

In [14]:
df_new.head()

,Transported,HomePlanet__Earth,HomePlanet__Europa,HomePlanet__Mars,Destination__55 Cancri e,Destination__PSO J318.5-22,Destination__TRAPPIST-1e,Deck_A,Deck_B,Deck_C,...,sum-2,sum-3,sum-4,sum-5,sum-6,sum-7,sum-8,sum-9,sum-10,sum-11
0,0,0,1,0,0,0,1,0,1,0,...,-0.366097,-0.346453,-0.398149,-0.369819,-0.350775,-0.400383,-0.364312,-0.426301,-0.389143,-0.514066
1,1,1,0,0,0,0,1,0,0,0,...,-0.312102,-0.321862,-0.280611,0.077869,-0.090846,0.101815,-0.344269,-0.279671,-0.320448,-0.251479
2,0,0,1,0,0,0,1,1,0,0,...,-0.327753,1.335482,-0.327472,4.867507,4.443006,4.757457,1.743726,-0.379248,1.717704,3.190333
3,0,0,1,0,0,0,1,1,0,0,...,0.075253,0.338384,-0.249882,2.515975,1.797599,2.140376,0.610714,-0.020333,0.357772,1.332604
4,1,1,0,0,0,0,1,0,0,0,...,-0.246369,-0.313047,-0.163840,0.188621,-0.054978,0.262091,-0.234034,0.070490,-0.171996,-0.124824

In [15]:
Y = df_new.to_numpy()[:, 0, np.newaxis]
X = df_new.to_numpy()[:, 1:]

X_train, X_cv, Y_train, Y_cv = train_test_split(X, Y, test_size=0.15, random_state=1)

In [16]:
X_train.shape

(7389, 48)

In [17]:
Y_train.shape

(7389, 1)

In [18]:
X_cv.shape

(1304, 48)

In [19]:
Y_cv.shape

(1304, 1)

# Build a Neural Network

In [20]:
# Create a custom callback to display output every x epochs
class EveryXEpochs(Callback):
    def __init__(self, x):
        super(EveryXEpochs, self).__init__()
        self.x = x

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.x == 0:
            print(f"Epoch {epoch + 1}: loss = {logs['loss']:.4f}, acc = {logs['accuracy']:.4f}")

In [21]:
verbose_callback = EveryXEpochs(x=100)

In [55]:
layer_1      = Dense(units=16,  activation='relu',    name='layer1', kernel_regularizer=L2(0.001))
layer_2      = Dense(units=32,  activation='relu',    name='layer2', kernel_regularizer=L2(0.001))
output_layer = Dense(units=1,   activation='linear',  name='output', kernel_regularizer=L2(0.001)) 

# applied to achieve consistent results
tf.random.set_seed(1234)  

model = Sequential([
    tf.keras.Input(shape=(X_train.shape[1],)),
    layer_1, 
    layer_2,
    output_layer
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001),
    loss=BinaryCrossentropy(from_logits=True),
    metrics=['accuracy'] 
)

model.fit(X_train, Y_train, epochs=1000, callbacks=[verbose_callback], verbose=0)

Epoch 100: loss = 0.4237, acc = 0.7947
Epoch 200: loss = 0.4110, acc = 0.8013
Epoch 300: loss = 0.4054, acc = 0.8059
Epoch 400: loss = 0.4019, acc = 0.8085
Epoch 500: loss = 0.3993, acc = 0.8108
Epoch 600: loss = 0.3972, acc = 0.8122
Epoch 700: loss = 0.3959, acc = 0.8120
Epoch 800: loss = 0.3951, acc = 0.8131
Epoch 900: loss = 0.3944, acc = 0.8145
Epoch 1000: loss = 0.3937, acc = 0.8138

# Use model to predict

In [56]:
# Inference - use model to predict
result_train = np.where(tf.nn.sigmoid(model.predict(X_train)) > 0.5, 1, 0)
result_cv    = np.where(tf.nn.sigmoid(model.predict(X_cv)) > 0.5, 1, 0)

231/231 [==============================] - 0s 628us/step
41/41 [==============================] - 0s 648us/step

In [57]:
r_train = np.concatenate((result_train, Y_train), axis=1)
r_cv    = np.concatenate((result_cv, Y_cv), axis=1)

In [58]:
diff_train = r_train[:, 1] - r_train[:, 0]
diff_cv    = r_cv[:, 1] - r_cv[:, 0]

# count the number of zeros
J_train = 100 - (np.count_nonzero(diff_train == 0) / r_train.shape[0]) * 100
J_cv    = 100 - (np.count_nonzero(diff_cv == 0) / r_cv.shape[0]) * 100

In [59]:
print(J_train, J_cv)

17.44485045337663 18.481595092024534

# Create output file with Test Data predictions

In [60]:
df_test = pd.read_csv("../data/test.csv")
df.shape

(4277, 2)

In [61]:
df_test = transform_data(df_test, test_data=True)
df.shape

(4277, 2)

In [62]:
df_no_passenger_id_test = df_test.drop('PassengerId', axis=1)
df_new_test = normalize_data(df_no_passenger_id_test)
X_test = df_new_test.to_numpy()
result_test = np.where(tf.nn.sigmoid(model.predict(X_test)) > 0.5, 1, 0)
results_for_submission = np.concatenate((df_test['PassengerId'].to_numpy().reshape(-1, 1), np.where(result_test == 1, True, False)), axis=1)

134/134 [==============================] - 0s 580us/step

In [63]:
df = pd.DataFrame(results_for_submission, columns=['PassengerId', 'Transported'])

In [64]:
df.to_csv("../data/submission.csv", index=False)